# Kredensial Supabase
# Variabel harus diawali "VITE_" agar bisa dibaca oleh Vite di sisi client.
VITE_SUPABASE_URL=https://wtyeewengiajohyyxjoi.supabase.co
VITE_SUPABASE_KEY=sb_publishable_zgfUaCXNfJrsp8LYPqvPTQ_vqq2_jcb
